// Cyan
$c-cyan-600: #4d96a9;
$c-cyan-hover: #71c0d4;
$c-cyan-300: #8fe3f9;

// Purple
$c-purple-600: #855fb1;
$c-purple-hover: #b18bdd;
$c-purple-300: #d9b8ff;

// Slate
$c-slate-900: #28283d;
$c-slate-600: #87879d;
$c-slate-300: #d1d1df;

// White
$c-white: #fafafa;
